@keyframes rotation {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  transform: rotate(-15deg);
  animation: rotation linear 20s infinite;
  overflow: hidden;
  z-index: 0;
}